
html {
    scroll-behavior: smooth;
  }

.parent-container {
    min-width: 100%;
    min-height: 100%;
    background-color: grey;
    background-size: cover;
}


.container1 {
    background-image: url(./IMG/BW-filter-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-color: grey;
    text-shadow: 4px 4px 4px rgb(105, 97, 97);
}

.container2{
    background-image: url(./IMG/wood2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: grey;
    text-shadow: 4px 4px 4px rgb(105, 97, 97);
    color:white;

}

.card {
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 black;
  transition: 0.3s;
  border-radius: 10px;
}

.card:hover, .card:focus, .card:active  {
    box-shadow: 0 8px 16px 0 black;
    -webkit-transform: scale(1.10); 
    -moz-transform: scale(1.10); 
    position: relative; 
    z-index: 2;
  }

.navbar{
    background-color:  rgb(0, 128, 128);    
}

.navbar-brand, .nav-link, .footer-link {
    text-shadow: 4px 4px 4px rgb(105, 97, 97);
}


.row1 {
    padding-top: 20px;
}

.row2{
    padding-top: 20px;
    height: 300px;
}


.col{
    color: white;
    /*padding-top: 10px;*/
}


button:hover, button:active, a:hover, a:active  {
    background-color: rgb(6, 47, 102);
    color: white;
}

.button {                     
    text-decoration: none;    
    color: white;                
    background-color:rgb(0, 128, 128);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 100px;
    margin: auto;
  }

  .footer {
    background-color: rgb(0, 128, 128);
    left: 0;
    bottom: 0;
    min-width: 100%;
    color: white;
    text-align: center;
  }  

  .footer2 {
      height: 25px;
  }

.col4{
    padding: 20px;
}

.my-row {
    padding: 20px;
}

.card {
    min-width: 250px;
    padding-top: 20px;
}

.profile-content {
    padding: 50px;
}




.textarea {
    width: 150px;
    height: 100px;
}

#contact-me, #message {
border-radius: 8px;
}


.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
  border: solid white;
    border-width:6px 6px 60px 6px;
    box-shadow:2px 2px 5px #333; 
    -webkit-box-shadow:1px 1px 5px #333;
    -moz-box-shadow:1px 1px 5px #333;
    height:300px; 
    width:300px;
    font-family: "Marker Felt", sans-serif; 
    text-decoration: none;
    -webkit-transform: rotate(+5deg);
    -moz-transform: rotate(+5deg);
    color: black;
    text-shadow: none;
    border-radius: 5px;
}

.profile-photo{
    border-radius: 5px 5px 0 0;
}


.polaroid:hover {
    -webkit-transform: scale(1.20); 
    -moz-transform: scale(1.20); 
    -webkit-box-shadow: 0 8px 16px 0 black; 
    -moz-box-shadow: 0 8px 16px black; 
    position: relative; 
    z-index: 5;
}
